<!-- AJOUTER UN UTILISATEUR -->
<form #form="ngForm" (ngSubmit)="createContact(); form.reset();">

  <h5 class="text-center m-4">Ajouter un contact</h5>

  <!--<pre>
    {{ 'Notre formulaire est valide : ' + form.valid }}
    {{ 'Le champ (nom complet) est valide : ' + name.valid }}
    {{ 'Le champ (nom complet) est invalide : ' + name.invalid }}
    {{ 'Le champ (nom complet) a été touché : ' + name.touched }}
    {{ 'Le champ (nom complet) n\'a pas été touché : ' + name.untouched }}
    {{ 'Le champ (nom complet) est pristine : ' + name.pristine }}

    {{ nouveauContact | json }}
  </pre>-->

  <div class="mb-3">
    <input class="form-control" type="text"
           [(ngModel)]="nouveauContact.name"
           name="name" required #name="ngModel"
           [class.is-invalid]="name.invalid && name.touched"
           [class.is-valid]="name.valid && name.touched"
           placeholder="Saisissez votre nom complet">
    <div class="invalid-feedback">
      N'oubliez pas de saisir un nom complet
    </div>
  </div>

  <div class="mb-3">
    <input class="form-control" type="text"
           name="username" required #username="ngModel"
           [(ngModel)]="nouveauContact.username"
           [class.is-invalid]="username.invalid && username.touched"
           [class.is-valid]="username.valid && username.touched"
           placeholder="Saisissez votre pseudo">
    <div class="invalid-feedback">
      N'oubliez pas de saisir un pseudo
    </div>
  </div>

  <div class="mb-3">
    <input class="form-control" type="text"
           name="email" required #email="ngModel"
           [(ngModel)]="nouveauContact.email"
           [class.is-invalid]="email.invalid && email.touched"
           [class.is-valid]="email.valid && email.touched"
           placeholder="Saisissez votre e-mail">
    <div class="invalid-feedback">
      N'oubliez pas de saisir un e-mail
    </div>
  </div>

  <div class="d-grid gap-2">
    <button [disabled]="form.invalid" class="btn btn-dark">Ajouter le contact</button>
  </div>

</form>
